* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header {
    background-color: white;
    margin: auto;
    color: lightskyblue;
}

.select-section h3{
    padding-right: 10px;
}

.main-container{
    background-color: lightgray;
    margin: auto;
    min-height: 500px;
}

.main-container .select-section{
    background-color: lightskyblue;
    justify-content: center;
}


.icons-container{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 25px;
    flex-wrap: wrap;
}

.icon-card{
    min-height: 100px;
    width: calc(100% / 5 - 10px);
    background-color: whitesmoke;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-right: 10px;
}

.icon-card i {
    font-size: 45px;
    padding-bottom: 5px;
}

/****Utilities****/

.d-flex{
    display: flex;
}

.text-white {
    color: white;
}

.container {
    width: 960px;
}

.animal{
    color:orange
}

.vegetable{
    color: chartreuse;
}

.user{
    color: purple;
}